* {
    box-sizing: border-box;
}

.logo {
    max-width: 30%;
    width: 100%;
}

.languages_menu {
    display: flex;
    justify-content: flex-end;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 26px 56px;
}

svg {
    fill: #e50914;
    height: 37px;
}

a {
    width: 100%;
}